body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

.calculator{
    font-family:  Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    border-radius: 11px;
    border: 2.5px solid yellow;
    padding: 20px;
    height: auto;
    background: linear-gradient(red,purple, yellow);
}

#display{
    max-width: 350px;
    height: 60px;
    text-align: end;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #53687E;
    color: snow;
    border: 2.5px dashed yellow;
    border-radius: 10px;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

button{
    width: auto;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin: 10px;
    border-radius: 5px;
    background-color: hsl(217, 35%, 25%);
    color: whitesmoke;
    cursor: pointer;
}

button:hover{
    background-color: hsl(217, 40%, 35%);
    transition: 0.3s ease-out;
    border: 2.5px solid chartreuse;
    color: gold;
} 

button:active{
    background-color: hsl(200,50%,55%);
}
